.ce-block__content {
  background-color: white;
  &:hover{
    background-color: lightgray;
  }
}

#div_page_content{
  table{
    td,th{
      padding:.5em;
      border: 1px solid darkgray;
      border-collapse: collapse;
    }
  }
}
