<header class="p-3 text-bg-dark">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 flex-grow-1 input-group-lg p-1"
				role="search">
				<input id="input_search"
					type="search"
					class="form-control form-control-dark text-bg-dark"
					placeholder="{{ 'SEARCH_PLACEHOLDER'|t }}..."
					aria-label="{{ 'SEARCH_PLACEHOLDER'|t }}" />
			</div>
		</div>
	</div>
</header>
